#welcome {
	background-color: transparent;
	border: none;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;

	font-size: 18px;
}

#welcome .top {
	width: 100%;
	padding-top: 24px;
	background-color: #8FB863;
	border-bottom: 5px solid #6382B8;
	flex: 0 0 auto;
}
#welcome .top .wrap {
	width: 400px;
	margin: 0 auto;
}
#welcome .mid {
	overflow-y: auto;
	flex: 1 1 auto;
}
#welcome .whatisit {
	margin: 6px auto;
}
#welcome .bottom {
	width: 100%;
	margin-bottom: 90px;
}
#welcome .left, #welcome .right  {
	display: inline-block;
	width: 50%;
	max-width: 500px;
	vertical-align: top;
	padding-top: 12px;
}
#welcome .news {
	max-width: 440px;
	margin: 10px auto 30px auto;
}
#welcome .news ul {
	display:inline-block;
	text-align: left;
}
#welcome p, #welcome .news ul {
	margin: 10px auto;
}
#welcome .ad {
	margin: 10px auto;
}
#welcome .logo {
	font-size: 60px;
	stroke-width: 10px;
}

#welcome .subtitle {
	font-size: 24px;
	stroke-width: 6px;
}

#welcome .login-area {
	font-family: 'Chewy';
	font-size: 20px;

	width: 100%;
	text-align: left;
}

#welcome input[type="text"] {
	font-family: 'Chewy';
	font-size: 20px;
	padding: 0 2px;
	
	border: 1px solid grey;
	border-radius: 4px;
	
	width: 65%;
	margin-right: 5%;

	margin-top: 4px;
	margin-bottom: 4px;
}

#welcome input[type="button"] {
	font-family: 'Chewy';
	font-size: 20px;

	background-color: lightgrey;
	border: 1px solid grey;
	border-radius: 4px;
	
	width: 30%;
}
#welcome input[type="button"]:active {
	background-color: grey;
}


#welcome .heading {
	font-size: 36px;
	stroke-width: 6px;
}

#welcome .details {
	font-size: 18px;
	stroke-width: 4px;
}

.ad {
	padding-top: 30px;
}

.frame .adsbygoogle {
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom: 20px;
	
	pointer-events: all;
}

#welcome .corner-buttons {
	position: absolute;
	left: 0;
	bottom: 0;
	
	z-index: 1; /* Appear on top of ad */

    font-size: 18px;
}

#welcome .corner-buttons a {
    display: inline-block;
    cursor: pointer;
    background-color: rgba(200,200,200,0.5);
    padding: 4px 8px;
    border-radius: 10px 10px 0 0;
    margin-left: 4px;
}
