.overlay.welcome-screen {
	background-color: transparent;
	border: none;
}

.welcome-screen .frame  {
	display: inline-block;
	width: 370px;
}
.welcome-screen .frame.side {
	width: 240px;
}

.welcome-screen .logo {
	font-size: 70px;
	stroke-width: 10px;
}

.welcome-screen .subtitle {
	font-size: 24px;
	stroke-width: 6px;
}

.welcome-screen .login-area {
	font-family: 'Chewy';
	font-size: 20px;

	width: 100%;
	text-align: left;
}

.welcome-screen input[type="text"] {
	font-family: 'Chewy';
	font-size: 20px;
	padding: 0 2px;
	
	border: 1px solid grey;
	border-radius: 4px;
	
	width: 65%;
	margin-right: 5%;
}

.welcome-screen input[type="button"] {
	font-family: 'Chewy';
	font-size: 20px;

	background-color: lightgrey;
	border: 1px solid grey;
	border-radius: 4px;
	
	width: 30%;
}
.welcome-screen input[type="button"]:active {
	background-color: grey;
}


.welcome-screen .heading {
	font-size: 36px;
	stroke-width: 6px;
}

.welcome-screen .details {
	font-size: 18px;
	stroke-width: 4px;
}


.welcome-screen .placeholder {
	background-color: white;
	border: 1px solid black;
	width: 300px;
	height: 250px;
	
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom: 20px;
}