<p>
	<svg><text class="logo">{Game Name}</text></svg>
	<svg><text class="subtitle">The Massively Multiplayer Match 3</text></svg>
</p>

<div class="login-area">
	<input type="text" placeholder="Nickname" maxlength="16" /><input type="button" value="Play" />
	<input type="checkbox" /> Hide Names</br>
</div>
<p>
	<svg><text class="heading">Controls</text></svg>
	
	<svg><text class="details">
	Click and drag animals to match them.
	</text></svg> 
	<svg><text class="details">
	You can only drag ones that will make a match.
	</text></svg>
</p>
<p>
	<svg><text class="details">
	Zoom in and out using the mouse wheel.
	</text></svg> 
	<svg><text class="details">
	Drag with the right mouse button to move around.
	</text></svg>
</p>

<div class="placeholder">
	I am an Ad
</div>