.game-over-overlay {
	width: 480px;

	pointer-events: none;
}

.game-over-overlay .header {
	font-size: 70px;
}

.game-over-overlay .middle {
	font-size: 28px;
}

.game-over-overlay .bottom {
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 5px;
}