.level-details-overlay {
	width: 440px;
	
	pointer-events: none;
}

.level-details-overlay .header {
	font-size: 70px;
}

.level-details-overlay .size {
	font-size: 22px;
}

.level-details-overlay .mid-text {
	font-size: 28px;
}

.level-details-overlay .sub-text {
	font-size: 22px;
	margin-top: 10px;
}

.level-details-overlay .start {
	font-size: 22px;
}

.level-details-overlay .matchable {
	height: 49px;
}

.level-details-overlay .group {
	position: relative;
	display: inline-block;
    vertical-align: bottom;
}
.level-details-overlay .over {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 24px;
}