.level-details-overlay {
	width: 440px;
	
	pointer-events: none;
}

.level-details-overlay .header {
	font-size: 70px;
	stroke-width: 8px;
}

.level-details-overlay .size {
	font-size: 22px;
	stroke-width: 4px;
}

.level-details-overlay .mid-text {
	font-size: 28px;
	stroke-width: 6px;
}

.level-details-overlay .start {
	font-size: 22px;
	stroke-width: 4px;
}

