{{#if feedbackVisible}}
<div class="overlay-background"></div>
<div class="overlay frame feedback-overlay">
	<svg class="loading"><text>Loading...</text></svg>
	<iframe src="https://docs.google.com/forms/d/1bqIAXJzgv9LyNeuc83OsQBYVOS-XH9vnE6YVoiapY5M/viewform?embedded=true" width="400" height="700" frameborder="0" marginheight="0" marginwidth="0" style="position: relative">Loading...</iframe>
	<img class="close-button" src="{{closeSrc}}" />
</div>
{{/if}}