text {
	font-family: 'Chewy';

	fill: white;

	paint-order: stroke;
	stroke: black;
	stroke-linejoin: round;

	text-anchor: middle;
}

.overlay-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;

	text-align: center;

	background-color: #8FB863;
	border: 5px #6382B8 solid;
	border-radius: 10px;
	
	padding: 0 20px;
}

.close-button {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	
	width: 60px;
	height: 60px;	
}


.help-button {
	cursor: pointer;
	position: absolute;
	right: 0px;
	bottom: 0px;
	
	background-color: rgba(255,255,255,0.5);
	padding:10px;
	border-radius: 20px 0 0 0;
}

.help-button-text {
	font-size: 30px;
	stroke-width: 6px;
}


.help-overlay {
	width: 460px;
	
}

.help-overlay .heading {
	font-size: 50px;
	stroke-width: 8px;
}

.help-overlay .details {
	font-size: 22px;
	stroke-width: 6px;
}