<div class="bottom-corner-buttons">
	<div class="feedback-button">
		<svg><text class="text">Feedback</text></svg>
	</div><div class="help-button">
		<svg><text class="text">Help</text></svg>
	</div>
</div>

{{#if overlayVisible}}
<div class="overlay-background"></div>
{{/if}}

{{#if helpVisible}}
<div class="overlay help-overlay">
	<p><svg><text class="heading">Help</text></svg></p>
	
	<p>
		<svg><text class="details">
		Click and drag animals to match them.
		</text></svg> 
		<svg><text class="details">
		You can only drag ones that will make a match.
		</text></svg>
	</p>
	<p>
		<svg><text class="details">
		Zoom in and out using the mouse wheel.
		</text></svg> 
		<svg><text class="details">
		Drag with the middle mouse button to move around.
		</text></svg>
	</p>
	
	<p>
		<a href="http://emojione.com" target="_blank"><svg><text class="emojione">Animal Art provided by Emoji One</text></svg></a>
	</p>
	
	<img class="close-button" src="/img/ui/close.svg" />
</div>
{{/if}}

{{#if customOverlayVisible}}
<div class="overlay {{customOverlayClass}}">
	{{{customOverlayContent}}}
</div>
{{/if}}