@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  src: local('Chewy'), url(../../img/skin/emojione-animals/chewy.woff2) format('woff2'), url(../../img/skin/emojione-animals/chewy.woff) format('woff');
}

body {
	margin: 0;
	overflow: hidden;
	background-color: #273348;
	font-family: 'Chewy';
	color: white;
}

h1, h2, h3 {
	font-weight: normal;
	margin: 0;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 26px;
}
a {
	color: white;
	text-decoration: none;
}
.b2 {
	text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
.b3 {
	text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.b5 {
	text-shadow: rgb(0, 0, 0) 5px 0px 0px, rgb(0, 0, 0) 4.90033px 0.993347px 0px, rgb(0, 0, 0) 4.60531px 1.94709px 0px, rgb(0, 0, 0) 4.12668px 2.82321px 0px, rgb(0, 0, 0) 3.48353px 3.58678px 0px, rgb(0, 0, 0) 2.70151px 4.20736px 0px, rgb(0, 0, 0) 1.81179px 4.6602px 0px, rgb(0, 0, 0) 0.849836px 4.92725px 0px, rgb(0, 0, 0) -0.145998px 4.99787px 0px, rgb(0, 0, 0) -1.13601px 4.86924px 0px, rgb(0, 0, 0) -2.08073px 4.54649px 0px, rgb(0, 0, 0) -2.94251px 4.04248px 0px, rgb(0, 0, 0) -3.68697px 3.37732px 0px, rgb(0, 0, 0) -4.28444px 2.57751px 0px, rgb(0, 0, 0) -4.71111px 1.67494px 0px, rgb(0, 0, 0) -4.94996px 0.7056px 0px, rgb(0, 0, 0) -4.99147px -0.291871px 0px, rgb(0, 0, 0) -4.83399px -1.27771px 0px, rgb(0, 0, 0) -4.48379px -2.2126px 0px, rgb(0, 0, 0) -3.95484px -3.05929px 0px, rgb(0, 0, 0) -3.26822px -3.78401px 0px, rgb(0, 0, 0) -2.4513px -4.35788px 0px, rgb(0, 0, 0) -1.53666px -4.75801px 0px, rgb(0, 0, 0) -0.560763px -4.96845px 0px, rgb(0, 0, 0) 0.437495px -4.98082px 0px, rgb(0, 0, 0) 1.41831px -4.79462px 0px, rgb(0, 0, 0) 2.34258px -4.41727px 0px, rgb(0, 0, 0) 3.17346px -3.86382px 0px, rgb(0, 0, 0) 3.87783px -3.15633px 0px, rgb(0, 0, 0) 4.4276px -2.32301px 0px, rgb(0, 0, 0) 4.80085px -1.39708px 0px, rgb(0, 0, 0) 4.98271px -0.415447px 0px;
}


.overlay-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	margin: 0 auto;

	text-align: center;
}

.frame {
	vertical-align: top;
	background-color: #8FB863;
	border: 5px #6382B8 solid;
	border-radius: 10px;
	padding: 0 20px;
}


.close-button {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	
	width: 60px;
	height: 60px;	
}

#bottom-corner-buttons {
	position: fixed;
	right: 0px;
	bottom: -4px;
	font-size: 26px;
	display: none;
	text-align: right;
}

#bottom-corner-buttons div {
	background-color: rgba(200,200,200,0.5);
	padding: 6px 10px;
	border-radius: 14px 0 0 0;
	margin-right: 6px;
	line-height: 200%;
}
#bcb-content {
	display: none;
}

#menu-button {
	cursor: pointer;
	display: inline-block;
	border-radius: 14px 14px 0 0 !important;
	height:32px;
}

#menu-button img {
	position: relative;
	top: 3px;
	width: 26px;
	height: 26px;
}


.help-overlay {
	width: 470px;
	max-width: 100%;
	box-sizing: border-box;
	top: 30px;
	font-size: 18px;

	max-height: 90vh;
    overflow-y: scroll;

	z-index: 1; /* Appear on top of ads */
}
.help-overlay h2 {
	margin-bottom: 5px;
}

.matchable-container {
	background-color: #273348;
	border-radius: 4px;
	padding: 10px;
	font-size: 30px
}
.matchable {
	height: 36px;
	vertical-align: bottom;
}
div.matchable {
	width: 36px;
	background-size: contain;
	display: inline-block
}
.help-overlay p {
	margin-top: 2px;
	margin-bottom: 8px;
}

.emojione {
	font-size: 16px;
}

#connection-error {
	position: absolute;
	bottom: 110px;
	left: 0;
	right: 0;
	margin: 0 auto;

	width: 400px;
	max-width: 100%;
	box-sizing: border-box;

	text-align: center;
	
	background-color: #8FB863;
	border: 5px #6382B8 solid;
	border-radius: 10px;
	padding: 10px;

}

#connection-error .details {
	font-size: 22px;
	stroke-width: 6px;
}


.feedback-overlay {
	width: 410px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 0;
	top: 10px;
}

.feedback-overlay iframe {
	position: relative;
	width: 100%;
	height: 700px;
	max-height: 90vh;
}

.feedback-overlay h2 {
	position: absolute;
	width: 100%;
}

#bottom-ad {
	position: fixed;
	left: 50%;
	bottom: 0;
	margin-left: -364px; /* Half the ad width */
}


#social-buttons {
	position: absolute;
	top: 4;
	left: 0;
	right: 0;
	text-align: center;
	pointer-events: none;
}

#social-buttons > * {
	pointer-events: all;
	vertical-align: top;
	display: inline-block;
}

#beta-bg {
	position: absolute;
	right: 0;
	top: 0;
	
	width: 0;
	height: 0;
	border-top: 76px solid rgba(200,200,200,0.5);
	border-left: 76px solid transparent;

	pointer-events: none;
}
#beta {
    position: absolute;
    right: 0;
    top: 10px;

    transform: rotateZ(45deg);
	font-size: 20px;

	pointer-events: none;
}

@media (max-width: 400px) {
	body {
		overflow-y: auto;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 22px;
	}
	#connection-error .details {
		font-size: 20px;
	}
	#bottom-corner-buttons {
		font-size: 20px;
	}
	#bottom-corner-buttons div {
		padding: 3px 7px;
		border-radius: 10px 0 0 0;
		margin-right: 4px;
	}
	#menu-button {
		border-radius: 10px 10px 0 0 !important;
	}
	.help-overlay {
		font-size: 16px;
	}
	.help-overlay h1 {
		font-size: 34px;
	}
	.help-overlay h2 {
		font-size: 26px;
	}
	.close-button {
		height: 40px;
		width: 40px;
	}

	#menu-button img {
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 727px) {
	#bottom-ad {
		margin-left: -160px; /* Half the ad width */
	}
}
