<div class="bottom-corner-buttons">
	<div class="feedback-button">
		<svg><text class="text">Feedback</text></svg>
	</div><div class="help-button">
		<svg><text class="text">Help</text></svg>
	</div>
</div>

{{#if overlayVisible}}
<div class="overlay-background"></div>
{{/if}}

{{#if helpVisible}}
<div class="overlay frame help-overlay">
	<p><svg><text class="heading">Controls</text></svg></p>
	<p>
		<svg><text class="details">
		Click and drag animals to match them.
		</text></svg> 
		<svg><text class="details">
		You can only drag ones that will make a match.
		</text></svg>
	</p>
	<p>
		<svg><text class="details">
		Zoom in and out using the mouse wheel.
		</text></svg> 
		<svg><text class="details">
		Drag with the right mouse button to move around.
		</text></svg>
	</p>
	<p>
		<svg><text class="details">
		You can also use the keyboard to look around 
		</text></svg>
		<svg><text class="details">
		(Arrow Keys or WASD)
		</text></svg>
	</p>


	<p><svg><text class="heading">Special Tiles</text></svg></p>
	<p>
		<svg><text class="details">
		Match 4 in a row to form a line clearer
		</text></svg> 
		<svg><text class="details">
		These have small arrows on them
		</text></svg>
		<svg><text class="details">
		When matched they clear animals for a large distance
		</text></svg>
	</p>
	<p>
		<svg><text class="details">
		Match 5 in a T or L shape to form a small area clearer
		</text></svg> 
		<svg><text class="details">
		These have arrows in the corners
		</text></svg>
		<svg><text class="details">
		When matched they clear a small area
		</text></svg>
	</p>
	<p>
		<svg><text class="details">
		Match 5 in a row to create footprints
		</text></svg> 
		<svg><text class="details">
		When the footprints are swapped with an animal
		</text></svg>
		<svg><text class="details">
		all of that animal is cleared in a large area
		</text></svg>
	</p>
	
	
	<p>
		<a href="http://emojione.com" target="_blank"><svg><text class="emojione">Animal Art provided by Emoji One</text></svg></a>
	</p>
	
	<img class="close-button" src="{{closeSrc}}" />
</div>
{{/if}}

{{#if connectionErrorVisible}}
<div id="connection-error">
	<svg><text class="details">Connecting...</text></svg><br/>
	<svg><text class="details">If this continues, try refreshing the page</text></svg>
</div>
{{/if}}

{{#if customOverlayVisible}}
<div id="overlay" class="overlay {{customOverlayClass}}">
	{{{customOverlayContent}}}
</div>
{{/if}}