<h1 class="header b5">Currently Offline</h1>

{{#if gameRecently}}
<a href="https://docs.google.com/forms/d/1Oe6QG2DLKTS8yg25mxoMzNIHKozqy8HQ8Dpv15uvd_8/viewform" target="_blank">
	<div class="middle ib b3">Thanks for Playing! Please fill in our</div>
	<div class="feedback b3">feedback form!</div>
</a>
{{/if}}

{{#if hasNext}}
<div class="middle b3">Next game is {{next}}</div>
<div class="small b2">The game will load automatically at this time</div>
{{else}}
<div class="middle b3">Not sure when we'll return...</div>
{{/if}}
