<div class="overlay frame new-version">
	<h2 class="b5">New Version!</h2>
	<span class="b2">
		A new version has been released.<br/>
		Please refresh the page to get the new version.<br/>
		<br/>
		Automatically refreshing in 20 seconds...
	</span>
</div>
